/* Code untuk import google font */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Inconsolata", monospace;
}

.navbar-brand {
  font-family: "Satisfy", cursive;
  font-size: 50px;
  color: rgb(255, 81, 0);
}

.nav-item a {
  font-family: "Inconsolata", monospace;
  font-size: 25px;
  font-weight: bold;
}

a {
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

a:hover {
  color: rgba(255, 81, 0, 0.849);
}

.section-home {
  padding: 0;
  background-image: url(img/bg1.jpg);
  height: auto;
  min-height: 1000px;
  background-repeat: no-repeat;
}

.navbar {
  background-color: black;
  padding: 1rem;
}

.personal-info .row .col-5 {
  margin-top: 400px;
}

.personal-info .row .col-5 h1 {
  font-family: "Inconsolata", monospace;
}

.icon {
  padding: 10px;
  font-size: 30px;
}

.icon:hover {
  color: rgba(255, 81, 0, 0.849);
  cursor: pointer;
}

.text-animate span {
  font-family: "Inconsolata", monospace;
  color: rgba(255, 81, 0, 0.849);
  font-size: 30px;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  animation: animate 20s linear infinite 0s;
}

.text-animate span:nth-child(2) {
  animation-delay: 3s;
}

.text-animate span:nth-child(3) {
  animation-delay: 6s;
}

.text-animate span:nth-child(4) {
  animation-delay: 9s;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
}

/* CSS Section about me */
.section-about {
  padding: 0;
  background-image: url(img/about.jpg);
  height: auto;
  min-height: 1000px;
  background-repeat: no-repeat;
}

.section-about h2 {
  margin-top: 200px;
}

hr {
  margin-bottom: 30px;
}

.special {
  text-align: center;
}

.tentang {
  text-align: center;
}

/* CSS untuk Skill */
.carousel-inner img {
  width: 100%;
  height: 100%;
}

/* CSS untuk Portofolio */
#porto {
  width: 100%;
  height: 100%;
}

/* CSS untuk Contact */
.section-contact {
  background-image: url(img/contact.jpg);
  height: 800px;
  width: auto;
  display: flex;
}

.section-contact ul {
  transform: translate(-50%, -50%);
  margin: 350px 200px 500px 50%;
  padding: 0;
  display: flex;
}

.section-contact ul li {
  list-style-type: none;
  margin: 0 40px;
}

.section-contact ul li .fab {
  font-size: 40px;
  color: black;
  line-height: 80px;
  transition: 0.5s;
}

.section-contact ul li .fa-github {
  line-height: 50px;
}

.section-contact ul li a {
  display: block;
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0, 0);
  transition: 0.5s;
  box-shadow: -20px -20px 10px rgb(0, 0, 0, 0.5s);
}

.section-contact ul li a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transition: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}

.section-contact ul li a::after {
  content: "";
  position: absolute;
  top: 80px;
  left: -11px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transition: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}

.section-contact ul li a:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}

.section-contact ul li:hover .fab {
  color: #fff;
}

.section-contact ul li a:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}

.section-contact ul li:hover:nth-child(1) a {
  background: rgb(94, 94, 94);
}

.section-contact ul li:hover:nth-child(1) a:before {
  background: gray;
}

.section-contact ul li:hover:nth-child(1) a:after {
  background: gray;
}

.section-contact ul li:hover:nth-child(2) a {
  background: #3b5999;
}

.section-contact ul li:hover:nth-child(2) a:before {
  background: #2e4a86;
}

.section-contact ul li:hover:nth-child(2) a:after {
  background: #4a69ad;
}

.section-contact ul li:hover:nth-child(3) a {
  background: #55acee;
}

.section-contact ul li:hover:nth-child(3) a:before {
  background: #4184b7;
}

.section-contact ul li:hover:nth-child(3) a:after {
  background: #4d9fde;
}

.section-contact ul li:hover:nth-child(4) a {
  background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

.section-contact ul li:hover:nth-child(4) a:before {
  background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

.section-contact ul li:hover:nth-child(4) a:after {
  background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

.contactme {
  position: absolute;
  margin: 200px auto auto 43%;
}

/* CSS untuk Footer */
.footer .copy {
  text-align: center;
  color: gray;
  font-size: 22px;
  line-height: 100px;
}

/* CSS Responsive Mobile */

@media screen and (max-device-width: 640px) {
  /* About */
  #about {
    width: 100%;
    background-size: 100%;
    min-height: 400px;
  }
  #about .col-4 h4 {
    font-size: 10px;
  }

  #about .col-4 {
    margin-left: 50px;
    width: 70%;
  }

  /* Home */
  .section-home {
    min-height: 200px;
  }
  /* Contact */
  .section-contact ul li {
    width: 18px;
  }
}
